.content-header{
    background-image: url('images/banner/banner3.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 808px;
    text-align: right;
}
.header-p2{
    text-align: right;
    color: #FFFFFF;
    margin-right: 100px;
    font-family: 'Work Sans';

}
.content-header h3{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    margin-right: 100px;
    font-family: 'Work Sans';
}
.btn-primary{
    margin-right: 100px;
    margin-top: 32px;
    width: 160px;
    height: 64px;
    background-color: white;
    color: blue;
    border: 0;
    border-radius: 5px;
}
.main-subcontent{
    display: flex;
    gap: 20px;
}
.main-failure{
    width: 416px;
    height: 400px;
    margin-top: 300px;
    margin-left: 5px;
}
.main-image{
    margin-left: 200px;
    margin-right: 30px;
}
.main-failure h1,p,ul{
    margin-bottom: 30px;
}
.main-failure p,ul{
    color: #5e5c5c;
}
.main-failure h1{
    font-weight: 800;
    font-size: x-large;
}
.main-second{
    margin-top: 80px;
    margin-left: 230px;
    margin-right: 230px;
}
.main-second h3{
    text-align: center;
    font-weight: 700;
    font-size: larger;
    margin-bottom: 50px;
}
.main-myplans{
    display: flex;
    gap: 150px;
    align-content: center;
    /* margin-left: 130px; */
    margin-bottom: 50px;
}
.myplans-div{
    align-content: center;
    text-align: center;
}
.myplans-div h4{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}
.myplans-div p{
    color: #737272;
    margin-top: 50px;
}
.image-merge{
    background-image: url('images/gradient1.png'),url('images/watch.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    align-content: center;
    padding-top: 20px;
}
.image-merge p{
    width: 400;
    height: 90px;
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    padding-left: 20px;
}
.image-merge button{
    margin-left: 30px;
    background-color: white;
    color: rgb(3, 91, 126);
    font-size: large;
    width: 160px;
    height: 60px;
    border-radius: 5px;
    border: 0;
}
.added-section{
    width: 100%;
    height: 500px;
    background-image: url('images/butterfly3.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}
.footer{
    margin-top: 40px;
    background-color: black;
    color: white;
    height: 600px;
    display: flex;
    justify-content: space-between;
}
.footer-one{
    margin-top: 50px;
}
.footer-one div{
    text-decoration: none;
}
.footer-form{
    margin-top: 50px;
}
.footer-form input[types="button"]{
    background-color: rgb(3, 103, 142);
    color: white;
    text-align: center;
    font-size: large;
}
